/*header style.*/
.title{
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.5);
}
.description{
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700px;
}
.banner{
    display: flex;
    justify-content: space-around;
    border-radius: 24px;
    
    
    
    
}
.background{
    background-color: rgba(198, 228, 214, 1);
    margin: 80px auto;
    max-width: 1300px;
    

}
.banner-content{
    max-width: 620px;
    max-height: 200;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}
img{
    max-width: 470px;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.header-btn{
    background-color: rgba(0, 106, 80, 1);
    max-width: 270px;
    padding: 12px 34px;
    font-family:Fira Sans;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
    border:none
}
.section-title{
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700px;
    margin:30px auto;
    max-width: 1300px;
    margin-top: 80px;
    
}
.section-description{
    font-family: Fira Sans;
    font-size: 16px;
    margin:20px auto;
    max-width: 1300px;
    margin-bottom: 40px;
    color:rgba(14, 14, 14, 0.7);

}
.vision-container{
    display: flex;
    flex-direction: colomun;
    justify-content: space-between;
    margin: 80 auto;
    max-width: 1300px;
    gap: 24px;

}

.text-center{
    text-align: center;
}
.visions{
    padding: 32px 32px;
    max-width: 410px;
    gap: 24px;
    border-radius: 16px;
}
.bg{
    background-color:rgba(84, 144, 245, 0.2);
    
}
.bgg{
    background-color:rgba(198, 228, 214, 1);
}
.bggg{
    background-color:rgba(247, 235, 207, 1);
}
.vision-description{
    max-width: 340px;
    max-height: 105px;
    color: rgba(14, 14, 14, 0.7);
    margin-left: 12px;
    font-family: Fira Sans;
    font-size: 15px;
    line-height: 18px;
    
}
.vision-title{
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700px;
    max-width: 340px;
    max-height: 24px;
    margin-left:12px;
    margin-bottom: 2px;

}
.m-image{
    max-weidth: 64px;
    max-height: 64px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.news-card{
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    

    

}
.news-backround{
   
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    margin: 10px auto;
    max-width: 1200px;
    padding: 48px;
    border: 1px solid rgba(13, 14, 14, 20%);

}
.news-img{
    max-width: 408px;
    max-height: 2000px;
    border-radius: 24px;
    margin:5px auto
    
}
.news-content{
    max-width: 740px;
    max-height: 290px;
    margin-top: 1px 0px;
}
.news-title{
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    margin: 12px 0px;

}
.logo{
    max-width: 140px;
    margin: 0px 0px;
}
.time-date{
    display: flex;
    justify-content: flex-start;
    gap:12px
    
}
.time-date{
    margin: 0px 0px;
}
.date{
    color: rgba(14, 14, 14, 0.7);
    font-family:Fira-Sans ;
    font-size: 16px;
    line-height: 24px;
}
.time{
    color: rgba(14, 14, 14, 0.7);
    font-family:Fira-Sans ;
    font-size: 16px;
    line-height: 24px;
   

}
.news-article{
    color: rgba(14, 14, 14, 0.7);
    font-family:Fira-Sans ;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin: 0px 0px;
}
.news-button{
    background-color: rgba(0, 106, 80, 1);
    max-width: 239px;
    padding: 13px 26px;
    font-family:Fira Sans;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    border:none;
    border-radius: 8px;
    margin: 20px auto;
}
.text-align{
    text-align: center;
}
.child{
    border:1px solid rgba(14,14,14,0.15);
    box-sizing: border-box;
    border-radius: 16px;
    max-width: 240px;
    max-height: 128;
    padding: 40px 40px;
    font-family:Fira Sans;
    font-size: 40px;
    font-weight:800px bold;

    
    
    
}
.different{
    background-color: rgba(198, 228, 214, 1);
}
.parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto ;
    max-width:1000px
}
section{
    margin: 0 auto;
    max-width: 1300px;

}


.btn{

background: rgb(84, 144, 245);
border: none;
max-width: 122px;
    padding: 11px 20px;
    font-family:Fira Sans;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
}
.btnn{
    background: rgb(9, 161, 92);
border: none;
    max-width: 122px;
    padding: 11px 20px;
    font-family:Fira Sans;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
}
.btnnn{
    max-width: 122px;
    padding: 11px 20px;
    font-family:Fira Sans;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;

background: rgb(255, 194, 57);
border: none;
}
.form-title{
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 800px;
    max-width: 1300px;
    max-height: 24px;

}
.form-description{
   color:rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400px;
    max-width: 1100px;
    max-height:48px;
    text-align: center;
    margin: 10px auto;
}
.forms{
    margin: 80px auto;
}
.submit-btn{
    background: rgb(0, 106, 80,1);
border: none;
    max-width: 152px;
    padding: 17px 34px;
    font-family:Fira Sans;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    margin: 20px auto;
}
input{
    
    border: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px 100px ;
    
    
}
form{
    max-width: 1300px;
}
